# Ignore bundler config.
/.bundle

# Ignore bundler gems.
vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
lib/capistrano/
vendor/bundle/ruby/2.3.0/build_info/
vendor/bundle/ruby/2.3.0/doc/
vendor/bundle/ruby/2.3.0/gems/nokogiri-1.8.0/ext/nokogiri/tmp/
